.hashdtube-channel {
    text-align: right;
    .details__channel {
        .right {

            img {
                width: 110px;
            }

            p {
                color: #898989;
            }
        }
    }
}