.custom-wrapper-content {
    margin-bottom: 5.4rem;
    
}
.second-slick-slider {
    p {
        font-size: 15px;
        color: $text-crl;
    }
}

@media screen and (min-width: 769px) {
    .custom-wrapper-content {
        margin-bottom: 1rem!important;
        
    }
}