.wrapper-school {
    margin-bottom: 2.5rem;
    .custom-col-6 {
        padding: 5px!important;
    }
    p {
        color: $text-crl;
        font-family: Yekan;
    }
    .card {
        background-color: #f1f1f1;
        .card--head {
            img {
                aspect-ratio: 12 / 12;
                border-radius: 7px;
            }
        }
        .card--body {
            p {
                font-family: iranSans;
                font-size: 14px;
                color: $text-crl;
            }
        }
    }
}

@media screen and (min-width: 769px) {
    .wrapper-school {
        margin-bottom: 0!important;
    }
}