section {
    .card-products {
        border: 1px solid #d8d8d8;
        border-radius: 10px;
        background-color: #fff;
        color: $black-crl;
        .footer-item {
            p {
                span {
                    font-size: 19px;
                    font-weight: 600;
                }
            }
        }
    }
}

@media screen and (min-width:  750px) {
    section {
        .wrapper-card-products {
            gap: 1rem;
                .card-products {
                .footer-item {
                    p {
                        span {
                            font-size: 17px;
                            font-weight: 600;
                        }
                    }
                    img {
                        width: 29px;
                        height: 29px;
                    }
                }
                .card-body {
                    .card-title {
                        p {
                            width: 183px;
                        }
                    }
                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}